.single-story {
   display: -webkit-inline-box;
}

.caret-up {
    bottom: -2px;
    position: relative;   
}

.story-title {
    padding-left: 3px;
    padding-right: 3px;
}

.gray {
    color: #828282;
}

.story-details {
    font-size: 11px;
}

.bottom-details {
    padding-bottom: 5px;
    padding-left: 3px;
}

td {
    padding-left: 3px;
}
a {
    color: #828282;
}

