.home {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f6f3f0;
}
.button-more {
    padding: 10px 0px 10px 35px;
    cursor: pointer;
}

hr {
    background-color: #ff7200;
    height: 3px;
}